@media screen and (min-width: 768px) {
    .btn-more-md {
      display: block;
    }
  
    .btn-more-sm {
      display: none;
    }
  }
  @media screen and (max-width: 767px) {
    .btn-more-md {
      display: none;
    }
  
    .btn-more-sm {
      display: block;
    }
  }
  h6 {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    color: #5b6889;
    font-size: 16.92px;
  }
  .details {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1rem;
    color: white;
    line-height: 0.5;
  }
  .more {
    position: absolute;
    cursor: pointer;
    top: 0px;
    right: 15px;
  }
  .shadow {
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
      rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
      rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  }
  .input-fields {
    border: none;
    border-bottom: 1px solid rgb(40, 40, 42);
    border-radius: 0px;
    outline: none;
  
    color: rgba(8, 7, 7, 0.58);
    padding-left: 0;
  }
  .input-fields:focus {
    background-color: #d6d6f7;
  }
  .name-number {
    margin-top: -50px;
    text-align: center;
    box-shadow: rgba(164, 131, 131, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  
    background-color: rgba(9, 6, 6, 0.4);
  
  }
  